:root{

  --cor-preto: #000000;
  --cor-branco: #ffffff;
  --cor-purple: #4a0067;
  --cor-purple-pink: #8000b2;
  --cor-verde: #008000;
  --cor-verde-dark: #004600;
  --cor-amarelo: #ffec00;

  --font-tahoma: tahoma;
}

/* 1rem = 16px */

body{
  height: 100vh;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: var(--font-tahoma);
  color: var(--cor-branco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--cor-verde);
  background: linear-gradient(90dg, var(--cor-verde-dark) 0%, var(--cor-amarelo) 100%);
}

h1, h2, h3{
  margin: 0px;
}

.container{
  width: 60%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 6px;
  box-shadow: 1px 3px 8px var(--cor-preto);
}

.boxPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topTitle{
  display: flex;
}

.boxForm{
  display: flex;
}

.boxForm input{
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 4px;
}

.bntPesquisar{
  width: 32px;
  height: 32px;
  padding-top: 5px;
  margin-left: 0.4rem;
  border: none;
  border-radius: 4px;
  background-color: var(--cor-verde);
  color: var(--cor-preto);                                /*voltar aq ;p*/
  cursor: pointer;
}

.bntPesquisar:hover{
  background-color: var(--cor-verde-dark);
}

.end{
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogotipoBR{
  width: 130px;
}

.bodyResult{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--cor-branco);
  color: var(--cor-preto);
  border-radius: 6px;
  padding: 1.2rem;
  margin-bottom: 1.4rem;
}